# Ignore virtual environments
.env
.venv
virtualenv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore IDE and editor files
.idea/
.vscode/
*.swp

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore notebooks checkpoints
.ipynb_checkpoints/
